.bg-container {
    background-image: url('../../assets/frontend-task-game.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.game-name {
    color: white;
}
.bg-gray {
    background-color: rgba(101, 101, 101, 0.5);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.item {
    margin:  10px 25px;
    color: lightgray;
}
.about-text {
    padding-top: 25px;
    color: white;
    width: 800px;
}
.pt-10 {
    padding-top: 14px;
}
.moreDetails {
    color: lightgray;
    margin:0 5px;
}
.item-details {
    margin: 10px 30px;
    color: lightgray;
}
.game-dev {
    color: white;
    width: 800px;
}

@media all and (max-width: 1199px) {  } 
@media all and (max-width: 991px) {  } 
@media all and (max-width: 768px) {  } 
@media all and (max-width: 575px) {

    .game-photo {
        width: 200px;
    }
    .bg-gray {
        flex-direction: column;
    }
    .game-dev, .about-text {
        padding-left: 10px;
    }
    .more-info {
        flex-direction: column;
    }
 }