<div class="bg-container">
  <div class="row py-3">
    <div class="col d-flex justify-content-center">
      <img src="../../assets/logo.png">
    </div>

  </div>
  <div class="row mb-3">
    <div class="col d-flex justify-content-center">
      <img src="../../assets/sublogo.png">
    </div>
  </div>
  <h1 class="text-center game-name pt-5">{{data.game_name}}</h1>
  <img class="d-block mx-auto pt-2 game-photo" [src]="data.game_photo" width="569px">
  <div class="d-flex bg-gray justify-content-center">
    <div class="item">
      <h1>3+</h1>
      <p class="text-md-center">Rated for</p>
    </div>
    <div class="item">
      <h1>{{data.game_cat}}</h1>
      <p class="text-md-center">Genre</p>
    </div>
    <div class="item">
      <h1>4.5</h1>
      <p class="text-md-center">Rating</p>
    </div>
    <div class="item">
      <h1>4</h1>
      <p class="text-md-center">Rank</p>
    </div>
    <div class="item">
      <h1>Top 10</h1>
      <p class="text-md-center">Google Play Rank</p>
    </div>
  </div>
  <div class=" d-flex justify-content-center">
    <div class="about-text">
      <h2>About The Game / What's New</h2>
      <p>{{data.game_desc}}</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <svg height="2" width="600" class="pt-10">
      <line x1="0" y1="0" x2="600" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
    </svg>
    <p class="moreDetails">More Details</p>
    <svg height="2" width="200" class="pt-10">
      <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
    </svg>
  </div>
  <div class="d-flex justify-content-center">
    <div class="game-dev">
      <h3>Game Vendor / Developer</h3>
      <p>{{data.game_vendor}}</p>
    </div>

  </div>
  <div class="d-flex justify-content-center">
    <svg height="2" width="800" class="pt-10">
      <line x1="0" y1="0" x2="700" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
    </svg>
  </div>
  <div class="d-flex justify-content-center more-info">
    <div class="item-details">
    <img src="../../assets/google-play.png">
  </div>
  <div class="item-details">
    <h6>Downloads on Google Play</h6>
    <p>{{data.game_count}}</p>
  </div>
  <div class="item-details">
    <h6>AED-Price-Fee/Inapp Purchase</h6>
    <p>Free</p>
  </div>
  </div>
</div>
