.bg-container {
    background-image: url('../../assets/frontend-task.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.mt-10 {
   margin-top: 31px;
}
.searchLabel {
    color: lightgray;
    margin-right: 270px;
}
.form-wrapper {
    float:left;
    margin-right:10px;
}
.btn-primary {
    background-color: #8ce6e6;
    border-color: #8ce6e6;
    width: 120px;
}
.btn-primary:active {
    border-color: #9ce2e0;
}
.btn-primary:hover {
    background-color: #2ce6e6;
    border-color: #2ce6e6;
}
.btn-primary:focus {
    background-color: #2ce6e6;
    border-color: #2ce6e6;
}
input[type="text"] {
    display: block;
    margin : 0 auto;
    width: 400px;
    background-color: rgba(104, 104, 104, 0.5);
    border-color: rgba(104, 104, 104, 0.5);
    border-radius: 4px;
}

.select-container {
    padding: 20px;
}
.item {
    margin:  0 20px;
    background-color: gray;
    color: #8ce6e6;
    width: 100px;

}
.labelItem {
    color: lightgray;
}
.select-wrapper {
    display: grid;
    text-align: center;
}

.cat-header {
    color: white;
    margin: 0px;
}
.cat-see {}
.img-thumb {
    margin: 20px;
    width: 115px;
    height: auto;
}
.thumb-wrapper {
    padding: 20px;
}
.game-name {
    color: white;
    text-align: center;
}
@media all and (max-width: 1199px) {  } 
@media all and (max-width: 991px) {  } 
@media all and (max-width: 768px) {  } 
@media all and (max-width: 575px) { 

    input[type="text"] {
        width: initial;
    }

    .searchLabel {
        margin-right: 0px;
    }
    .select-container {
        display: block !important;
    }
    .item {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .label-line {
        width: 320px;
    }
    .thumb-wrapper {
        overflow-y: scroll;
    }
    
}