<div class="bg-container">
  <div class="row py-3">
    <div class="col d-flex justify-content-center">
      <img src="../../assets/logo.png">
    </div>

  </div>
  <div class="row mb-3">
    <div class="col d-flex justify-content-center">
      <img src="../../assets/sublogo.png">
    </div>

  </div>
  <div class="row ">
    <div class="col d-flex justify-content-center">
      <div class="form-wrapper">
        <label for="game" class="searchLabel">Search Games</label>
        <input id="getGame" class="form-control" type="text" value="" game="game">
      </div>
      <div class=" d-flex align-self-center ">
        <button type="button" class="btn btn-primary mt-10"> GO
          <img src="../../assets/searchIcon.png">
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-sm-wrap justify-content-center select-container">
      <div class="select-wrapper">
        <label for="Game Type" class="labelItem">Game Type</label>
        <select class="selectpicker item" name="Game Type">
          <option>HTML</option>
        </select>
      </div>
      <div class="select-wrapper">
        <label for="Quality" class="labelItem">Quality</label>
        <select class="selectpicker item" name="Quality">
          <option>All</option>
        </select>
      </div>
      <div class="select-wrapper">
        <label for="Genre" class="labelItem">Genre</label>
        <select class="selectpicker item" name="Genre">
          <option>All</option>
        </select>
      </div>

      <div class="select-wrapper">
        <label for="Orderby" class="labelItem">Order by</label>
        <select class="selectpicker item" name="Orderby">
          <option>All</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" *ngFor=" let key of keys">
    <div class="col-12 d-flex justify-content-center">
      <div>
        <p class="cat-header">
          <img src="../../assets/searchIcon.png"> {{gameList[key].cat_name}}</p>
          <svg height="2" width="1000" class="label-line">
              <line x1="0" y1="0" x2="1000" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
            </svg>
      </div>
      
    </div>
    <div class= "d-flex mx-auto thumb-wrapper">
      <div *ngFor="let game of gameList[key].games">
          <img class="img-thumb" [src]="game.game_thumb" (click)="gameClick(game.game_id);"[id] = "game.game_id" >
          <p class="game-name">{{game.game_name}}</p>
      </div>
    </div>
  </div>
</div>
